.about-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 680px) {
  .about-flex {
    flex-direction: column;
    align-items: center;
    
  }
  .about-flex img {
    margin-bottom: 1rem;
  
    width: 140px;
    height: 140px;
  }
  .about-flex p {
    text-align: center;
  }
}